*~
*.a
*.o
Makefile
.deps
doc/de/*.html
doc/en/*.html
doc/it/*.html
doc/fr/*.html
doc/es/*.html
index.proc
autom4te.cache
nted
config.h
config.log
config.status
nted.pot
stamp-h1
POTFILES
po/Makefile.in
